<%- include('./partials/header') %>

<img src="<%= task.picture_path %>" style="height:5vmin" />
<h2><%= task.title %></h2>
<p><strong>Created at:</strong> <%= task.created_at %></p>

<%- include('./partials/footer') %>
